_auth = amVua2luczpBS0NwMlVOQ2Q2ek1kY3p6dWpLbUpadW1zcjhKVkt5akRLOVBGVU5pbUdqb2NvVVdOV3hGeXJKY3RDaWFzOTFucFpnOW5tY041
always-auth = true
email = pbedard@touchtunes.com
strict-ssl = false
registry = https://artifactory.tsp.cld.touchtunes.com/api/npm/web-dev
