.root {
  transition: background-color .2s;
  width: 100%;
}

#recipient {
  width: 100%;
}

#label-caption {
  margin-top: -1em;
}

#label {
  margin: 0 auto;
  text-align: center;
  transition: .2s ease-out;
}

#label:hover {
  cursor: pointer;
}
