html, body, .app-content {
  height: 100%
}

body {
  background: #ece7e7;
  margin: 0;
}

.sec-1-0 { background-color: #2FEFEF }
.sec-0-9 { background-color: #48F0C0 }
.sec-0-8 { background-color: #00EF47 }
.sec-0-7 { background-color: #00F000 }
.sec-0-6 { background-color: #8FEF2F }
.sec-0-5 { background-color: #EFEF00 }
.sec-0-4 { background-color: #D77700 }
.sec-0-3 { background-color: #F06000 }
.sec-0-2 { background-color: #F04800 }
.sec-0-1 { background-color: #D73000 }
.sec-0-0 { background-color: #F00000 }
